.line {
    background-color: #2C3E50;
    height: 4px;
    width: 80px;
}

h2 {
    font-weight: bolder !important;

}

.div{
    position: relative;
    cursor: pointer;
    
}
.col-md-4:hover .layer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: #1ab596ef;
    display: none;
}

